@* @page
@model E_Migration.App.FrontEnd.Pages.iMigrante.AgregarModel
@{
    ViewData["Title"] = "Agregar";
}


<h1>Registrar Migrante</h1>

<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div> </div>
                <div class="form-group">
                    <label asp-for="Migrante.Nombre" class="control-label"></label>
                    <input asp-for="Migrante.Nombre" class="form-control" />
                    <span asp-validation-for="Migrante.Nombre" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Apellidos" class="control-label">Apellidos</label>
                    <input asp-for="Migrante.Apellidos" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Tipo_Documento" class="control-label">Tipo Documento</label>
                    <select asp-for="Migrante.Tipo_Documento" class="form-control">
                            <option value="--Seleccione Tipo De Documento--">--Seleccione Tipo De Documento--</option>
                            <option value="CC">CEDULA DE CIUDADANÍA</option>
                            <option value="CCE">CÉDULA DE EXTRANJERÍA COLOMBIANA</option>
                            <option value="CE">CÉDULA EXTRANJERA</option>
                            <option value="Pasaporte">PASAPORTE</option>
                            <option value="Tarjeta de identidad">TARJETA DE IDENTIDAD</option>
                        </select>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Numero_Identificacion" class="control-label">Número Identificación</label>
                    <input asp-for="Migrante.Numero_Identificacion" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Pais_Origen" class="control-label">País Origen</label>
                    <input asp-for="Migrante.Pais_Origen" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Fecha_Nacimiento" class="control-label">Fecha Nacimiento</label>
                    <input plaeceholder="YYYY-MM-DD" asp-for="Migrante.Fecha_Nacimiento" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Correo_Electronico" class="control-label">Correo Eléctronico</label>
                    <input type="email" asp-for="Migrante.Correo_Electronico" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label asp-for="Migrante.Numero_Telefonico" class="control-label">Numero Telefónico</label>
                    <input asp-for="Migrante.Numero_Telefonico" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Direccion_Actual" class="control-label">Dirección Actual</label>
                    <input asp-for="Migrante.Direccion_Actual" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Ciudad" class="control-label">Ciudad</label>
                    <input asp-for="Migrante.Ciudad" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Situacion_Laboral" class="control-label">Situación Laboral</label>
                    <select asp-for="Migrante.Situacion_Laboral" class="form-control">
                            <option value="--Seleccione Su Situacion Laboral--">--Seleccione Su Situación Laboral--</option>
                            <option value="Empleado Formal">Empleado Formal</option>
                            <option value="Empleado Informal">Empleado Informal</option>
                            <option value="Empleado Independiente">Empleado Independiente</option>
                            <option value="Desempleado">Desempleado</option>
                        </select>
                </div>


                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Atrás</a>
    </div>
</div>
@section Scripts
{
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
} *@

@page
@model E_Migration.App.FrontEnd.Pages.iMigrante.AgregarModel
@{
    ViewData["Title"] = "Agregar";
}


<h1>Registrar Migrante</h1>

<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <input type="hidden" asp-for="Migrante.Id" >
                <div class="form-group">
                    <label asp-for="Migrante.Nombre" class="control-label"></label>
                    <input asp-for="Migrante.Nombre" class="form-control" />
                    <span asp-validation-for="Migrante.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Apellidos" class="control-label">Apellidos</label>
                    <input asp-for="Migrante.Apellidos" class="form-control" />
                    <span asp-validation-for="Migrante.Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Tipo_Documento" class="control-label">Tipo Documento</label>
                    <select asp-for="Migrante.Tipo_Documento" class="form-control">
                            <option value="--Seleccione Tipo De Documento--">--Seleccione Tipo De Documento--</option>
                            <option value="CC">CEDULA DE CIUDADANÍA</option>
                            <option value="CCE">CÉDULA DE EXTRANJERÍA COLOMBIANA</option>
                            <option value="CE">CÉDULA EXTRANJERA</option>
                            <option value="Pasaporte">PASAPORTE</option>
                            <option value="Tarjeta de identidad">TARJETA DE IDENTIDAD</option>
                        </select>
                    <span asp-validation-for="Migrante.Tipo_Documento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Numero_Identificacion" class="control-label">Número Identificación</label>
                    <input asp-for="Migrante.Numero_Identificacion" class="form-control" />
                    <span asp-validation-for="Migrante.Numero_Identificacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Pais_Origen" class="control-label">País Origen</label>
                    <input asp-for="Migrante.Pais_Origen" class="form-control" />
                    <span asp-validation-for="Migrante.Pais_Origen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Fecha_Nacimiento" class="control-label">Fecha Nacimiento</label>
                    <input plaeceholder="YYYY-MM-DD" asp-for="Migrante.Fecha_Nacimiento" class="form-control" />
                    <span asp-validation-for="Migrante.Fecha_Nacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Correo_Electronico" class="control-label">Correo Eléctronico</label>
                    <input type="email" asp-for="Migrante.Correo_Electronico" class="form-control" />
                    <span asp-validation-for="Migrante.Correo_Electronico" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Migrante.Numero_Telefonico" class="control-label">Numero Telefónico</label>
                    <input asp-for="Migrante.Numero_Telefonico" class="form-control">
                    <span asp-validation-for="Migrante.Numero_Telefonico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Direccion_Actual" class="control-label">Dirección Actual</label>
                    <input asp-for="Migrante.Direccion_Actual" class="form-control">
                    <span asp-validation-for="Migrante.Direccion_Actual" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Ciudad" class="control-label">Ciudad</label>
                    <input asp-for="Migrante.Ciudad" class="form-control">
                    <span asp-validation-for="Migrante.Ciudad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Situacion_Laboral" class="control-label">Situación Laboral</label>
                    <select asp-for="Migrante.Situacion_Laboral" class="form-control">
                            <option value="--Seleccione Su Situacion Laboral--">--Seleccione Su Situación Laboral--</option>
                            <option value="Empleado Formal">Empleado Formal</option>
                            <option value="Empleado Informal">Empleado Informal</option>
                            <option value="Empleado Independiente">Empleado Independiente</option>
                            <option value="Desempleado">Desempleado</option>
                        </select>
                    <span asp-validation-for="Migrante.Situacion_Laboral" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Atrás</a>
    </div>
</div>
@section Scripts
{
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

}
