@page
@model E_Migration.App.FrontEnd.Pages.iMigrante.BuscarModel
@{
    ViewData["Title"]="Buscar";
}

<h1>Detalles Migrante</h1>
<h3>@ViewData["Mensaje"]</h3>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                
                
                 <div class="form-group">
                   <div class="form-group">
                    <label asp-for="Migrante.Nombre" class="control-label"></label>
                    <input asp-for="Migrante.Nombre" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Apellidos" class="control-label">Apellidos</label>
                    <input asp-for="Migrante.Apellidos" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Tipo_Documento" class="control-label">Tipo Documento</label>
                    <input asp-for="Migrante.Tipo_Documento" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Numero_Identificacion" class="control-label">Número Identificación</label>
                    <input asp-for="Migrante.Numero_Identificacion" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Pais_Origen" class="control-label">País Origen</label>
                    <input asp-for="Migrante.Pais_Origen" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Fecha_Nacimiento" class="control-label">Fecha Nacimiento</label>
                    <input plaeceholder="YYYY-MM-DD" asp-for="Migrante.Fecha_Nacimiento" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Correo_Electronico" class="control-label">Correo Eléctronico</label>
                    <input type="email" asp-for="Migrante.Correo_Electronico" class="form-control" readonly />
                </div>
                
                <div class="form-group">
                    <label asp-for="Migrante.Numero_Telefonico" class="control-label">Numero Telefónico</label>
                    <input asp-for="Migrante.Numero_Telefonico" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Direccion_Actual" class="control-label">Dirección Actual</label>
                    <input asp-for="Migrante.Direccion_Actual" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Ciudad" class="control-label">Ciudad</label>
                    <input asp-for="Migrante.Ciudad" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="Migrante.Situacion_Laboral" class="control-label">Situación Laboral</label>
                    <input asp-for="Migrante.Situacion_Laboral" class="form-control"readonly/>
                </div>

            </form>
        </div>
    </div>
    <br>
    <hr>
    <div>
        <a asp-page="Index">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

