@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <style>
        h1 {
  background: linear-gradient(90deg, rgba(00, 25, 86, 0.9) 15%, rgb(42, 42, 228) 40%, rgba(0,212,255,1)
       100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      margin-bottom: 0;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: 900;
      font-size: 170px;
      padding: 5px;  
      letter-spacing: 5px; 
        }
    </style>
    <h1 class="display-4">E-Migrant.App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
